{% extends "base.html" %} 

{% block title %}Home{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
<h2 class="text-center my-4" style="font-family: monospace; font-size: 30px;">Explore Our Courses</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card course-card">
                <img src="{{ course.image_url }}" class="card-img-top" alt="Course Image">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text"><strong>Category:</strong> {{ course.category }}</p>
                    <a href="#"><button class="btn btn-primary">Enroll Now</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

