{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="login">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(class="form-label") }}
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-label") }}
                                {{ form.password(class="form-control") }}
                            </div>
                            <br>
                            <div class="form-group text-center">
                                {{ form.submit_btn(class="btn btn-primary")}}
                            </div>
                            <br>
                            <p>Don't have an account? <a href="/sign-up" class="float-right"> Register</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock%}