{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Settings</h4>
                    <ul class="nav nav-tabs" id="settingsTabs">
                        <li class="nav-item" onclick="gotoProfile()">
                            <a class="nav-link active" href="#">Profile</a>
                        </li>
                        <li class="nav-item" onclick="gotoSecurity()">
                            <a class="nav-link" href="#">Security</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" id="sharedCard">
                    <form method="POST" action="{{ url_for('views.update_profile', user_id=user._id)}}"
                        id="profileForm">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.first_name.label(class="form-label") }}
                                    {{ form.first_name(class_="form-control") }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.last_name.label(class="form-label") }}
                                    {{ form.last_name(class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.phone_number.label(class="form-label") }}
                            {{ form.phone_number(class_="form-control") }}
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('views.update_password', user_id=user._id)}}"
                        id="securityForm" style="display: none;">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form2.old_password.label(class="form-label") }}
                            {{ form2.old_password(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form2.new_password.label(class="form-label") }}
                            {{ form2.new_password(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form2.confirm_new_password.label(class="form-label") }}
                            {{ form2.confirm_new_password(class_="form-control") }}
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Avatar Section -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-person-circle" style="font-size: 6rem;"></i>
                    <p style="font-size: 12px;">Set the thumbnail image. Only *.png, *.jpg and *.jpeg image files are
                        accepted</p>
                    <form>
                        <input type="file" class="form-control mb-3" accept="image/*">
                        <button type="button" class="btn btn-primary">Upload Avatar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let sharedCard = document.getElementById('sharedCard');
    let profileForm = document.getElementById('profileForm');
    let securityForm = document.getElementById('securityForm');

    function gotoProfile() {
        securityForm.style.display = "none";
        profileForm.style.display = "block";
    }
    function gotoSecurity() {
        profileForm.style.display = "none";
        securityForm.style.display = "block";
    }
</script>
{% endblock %}